.username {
    width: 40vh;
}
.password { 
    width: 40vh;
}
/* input {
    display: flex;
    align-items: center;
} */
input {
    padding: 5px;
}
h6 {
    margin-bottom: 2px;
    font-size: 12px;
}
/* .container.login {
    height: 500px;
    width: 400px;
    background-color: #232629;
    margin-top: 10rem;
    padding: 40px;
    border-radius: 2%;
} */

.container.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

