.username {
    width: 40vh;
}
.password { 
    width: 40vh;
}
/* input {
    display: flex;
    align-items: center;
} */
input {
    padding: 5px;
}
h6 {
    margin-bottom: 2px;
    font-size: 12px;
}

