.username {
    width: 32rem;
}
.password { 
    width: 33.25rem;
}
input {
    padding: 5px;
    color: #232629;
}
h6 {
    margin-bottom: 2px;
    font-size: 12px;
}
.container.login {
    height: 550px;
    width: 450px;
    background-color: #232629;
    margin-top: 7rem;
    padding: 60px;
    border-radius: 2%;
}
.title {
    margin-bottom: 0px;
}
.subheading {
    font-size: 12px;
    margin-bottom: 5rem;
    font-weight: normal;
}
.logo {
    height: 6vh;
    width: 6vh;
}
.loginbtn {
    float: right;
    margin-right: 4rem;
    margin-top: 2rem;
}
.signupbtn {
    margin-left: 4rem;
    margin-top: 2rem;
}
